<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <application>
    <activity
      android:name="expo.modules.fastphotopicker.PhotoGridActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
  </application>
</manifest>
